<div class="row">
	<div class="span6 offset3">
		<div class="well">
 			<p>
		  	<b>Name:</b>
		 	 <%= @user.name %></br>
		 	 <b>Email:</b>
		 	 <%= @user.email %></br>
		 	  <b>Admin:</b>
		 	 <%= @user.admin %></br>
			</p>
			<%= link_to 'Edit', edit_user_path(@user) %> |
			<%= link_to 'Back', users_path %>
		</div>
	</div>
</div>

